.animated-arrow {
  height: 1em;
  width: auto;
  vertical-align: middle;
}

.dkc-unused, .dkc-unused * {
  background: #EEE;
  color: #888;
  border-color: #CCC;
}
    .dkc-unused fieldset legend {
      background: #DBDBDB;
    }
    .dkc-unused .fieldset-legend {
      background: #DBDBDB;
      color: #555;
    }
    .dkc-unused .fieldset-description {
      color: #888;
    }

.dkc-highlight-fieldset .fieldset-legend:before {
  content: url(../images/star.png);
  margin-right: 5px;
}
.dkc-highlight-fieldset .fieldset-description {
  background: #d0e1f2;
  padding: 10px;
  border-radius: 10px;
}

.task-list li {
  list-style-position: inside;
}
  .task-list li .passed {
    color: green;
  }
  .task-list li .not-passed {
    color: red;
  }

/**
 * Score bar
 */
.dkc-score-bar {
  width: 100%;
  padding: 1em 0 1.5em;
  position: fixed;
  bottom: 0;
  background: #BBB;
}
  .dkc-score-bar .dkc-info {
    margin: 0 1em;
  }

  .dkc-score-bar .dkc-score-left {
    float: left;
    height: 2em;
    width: 33%;
    text-align: left;
  }
  .dkc-score-bar .dkc-score-center {
    float: left;
    height: 2em;
    width: 33%;
    text-align: center;
  }
  .dkc-score-bar .dkc-score-right {
    float: left;
    height: 2em;
    width: 33%;
    text-align: right;
  }
