/* =============================================================================
  JQUERY MOBILE SELECT OVERRIDES
  ========================================================================== */

.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
	max-width: 500px;
}

/* Height */

.ui-selectmenu .ui-listview {
	max-height: none;
	overflow-y: visible;
}

/* =============================================================================
  WEBFORM STYLES
  ========================================================================== */

.webform-client-form {
	padding-bottom: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

/* Date */

.webform-client-form .webform-datepicker .form-item {

}

/* Submit Button */

.webform-client-form .form-submit {
	float: right;
	width: 48%;
}

/* Reset Button */

.webform-client-form .form-reset {
	float: left;
	width: 48%;
}