/* =============================================================================
  FOOTER FEATURE
  ========================================================================== */

.view-footer-feature .views-row .views-field-field-footer-feature-icon {
  float: none;
  height: 38px;
  margin: 0 15px 15px 0;
  text-align: center;
  width: 43px;
}

.view-footer-feature .views-row .views-field-field-footer-feature-icon img {
  height: 100%;
  width: auto;
}