body {
  min-width: 320px;
}

/* =============================================================================
  GLOBAL - RESPONSIVE
  ========================================================================== */

h1 {
  font-size: 1.429em;
}

h2 {
  font-size: 1.286em;
}

h3 {
  font-size: 1.143em;
}

h4 {
  font-size: 1.000em;
}

h5 {
  font-size: 1.000em;
}

/* =============================================================================
  HEADER
  ========================================================================== */

header {
  box-shadow: 0px 1px 1px #aeaeae;
  height: 73px;
  position: fixed;
    left: 0px;  top: 0px;
  width: 100%;
  z-index: 50;
}

.header-inner {
  height: 63px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-inner #logo img {
  height: 27px;
  margin-left: 20px;
  width: 150px;
}

.header-inner .color-strip {
  margin-bottom: 0;
}


.header-inner #block-search-form {
  display: none;
}

.rsp-search {
  display: block;
  margin-bottom: 28px;
}

/* =============================================================================
  PAGE LAYOUT
  ========================================================================== */

#main {
  margin-top: 73px;
}

.title-wrap {
  background: #009aee url(../../images/responsive/title-bg.png) no-repeat bottom right;
  min-height: 45px;
  padding: 55px 30px 0px;
}

.title-inner {
  padding: 0;
}

.title-inner span.title {
  font-size: 1.714em;
}

.content-wrap {
  padding: 15px 30px 30px;
}

.rsp-language {
  display: block;
  float: right;
  padding: 0 0 15px;
  width: 100%;
}

.rsp-language ul {
  float: right;
}

.page-message {
  background: url(../../images/bg-dark-lines.png);
}

.page-message-inner {
  font-style: italic;
  padding: 20px;
}

.page-message-inner p {
  font-size: 1em;
}

/* =============================================================================
  FOOTER FEATURE
  ========================================================================== */

.view-footer-feature .views-row {
  border-bottom: 1px solid #33aef1;
  float: none;
  margin: 0;
  padding: 0;
  width: auto;
}

  .view-footer-feature .views-row-last {
    border: none;
  }

.view-footer-feature .views-row .views-field-title-field {
  float: none;
  width: auto;
}

.view-footer-feature a.footer-feature-link {
  background: url(../../images/responsive/footer-feature-btn.png) no-repeat center right;
  display: block;
  padding: 12px 20px;
}

  .view-footer-feature a:hover.footer-feature-link, .view-footer-feature a:focus.footer-feature-link {
    background: #33aef1 url(../../images/responsive/footer-feature-btn.png) no-repeat center right;
  }


.view-footer-feature .views-row h3 {
  font-size: 1.714em;
  padding: 0;
}
.view-footer-feature .views-row .views-field-body {
  display: none;
}

.view-footer-feature .views-row .views-field-field-footer-feature-icon {
  float: left;
  margin-bottom: 0;
}

.view-footer-feature .views-row .views-field-field-link-to-text {
  display: none;
}

/* =============================================================================
  FOOTER
  ========================================================================== */

#footer-feature {
  background: url(../../images/responsive/footer-feature-bg.png) no-repeat bottom right;
  min-height: 250px;
  padding: 0 10px 30px;
}

#footer-feature .color-strip {
  display: block;
}

.footer-feature-inner {
  padding: 0;
}

.footer-inner {
  margin-top: 0;
  padding: 0;
}

.footer-inner .color-strip-a {
  display: block;
  margin-top: 30px;
}

.footer-inner .color-strip-b {
  display: none;
}

.footer-bottom {
  background: #ebebeb url(../../images/bg.png);
  margin: 0;
  padding: 25px 25px 65px;
}

.footer-top {
  border-bottom: none;
  padding: 30px 10px 0;
}

  .footer-social-block {
    display: block;
    float: none;
    text-align: center;
  }

  .footer-social-block a.footer-social {
    display: inline-block;
    float: none;
  }

  /* eNewsletter */

  #block-esri_theme_config-newsletter {
    float: none;
  }

  #block-esri_theme_config-newsletter {
    padding: 0 20px 0;
  }

  #block-esri_theme_config-newsletter h2 {
    float: none;
    padding-top: 20px;
  }

  #block-esri_theme_config-newsletter .content {
    float: none;
  }

  #block-esri_theme_config-newsletter input.ea {
    padding: 0 5%;
    width: 60%;
  }

  #block-esri_theme_config-newsletter input.submit {
    font-size: 0.8em;
    padding-left: 0;
    padding-right: 0;
    width: 29%;
  }

#block-esri_theme_config-copyright {
  color: #b5b6b8;
  float: none;
  text-align: center;
}

/**
 * Tables
 */
.node-inner table { display: block; position: relative; width: 100%; }
.node-inner table thead { display: block; float: left; }
.node-inner table tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.node-inner table thead tr { display: block; }
.node-inner table th { display: block; }
.node-inner table tbody tr { display: inline-block; vertical-align: top; }
.node-inner table td { display: block; min-height: 1.25em; }

/* =============================================================================
  SHARE THIS REGION
  ========================================================================== */

#sharethis {
  margin: -15px -30px 15px;
  padding-left: 10px;
  padding-right: 20px;
  position: static;
}

#sharethis .stArrow {
  display: none !important;
}

/**
 * insetimage
 */
.insetimage-wrapper {
  padding: 10px 10px 15px;
}
