/* =============================================================================
  FOCAL SLIDER
  ========================================================================== */

/* Responsive Hide */

.focal-slide .slide-img-small {
	display: block;
}

.focal-slide .slide-img-small img {
	float: left;
	height: 100%;
	width: auto;
}

.focal-slide .slide-img-large, .focal-slide .slide-img-medium {
	display: none;
}

/* Pagination */

.focal-pagination {
	display: none;
}

.focal-pagination-rsp {
	display: block;
}

/* =============================================================================
  FEATURES
  ========================================================================== */

.view-homepage .views-row {
	padding-left: 30px;
	padding-right: 30px;
}

.view-homepage .views-row .large-feature {
	height: auto;
}

.view-homepage .views-row .large-feature a .description {
	font-size: 1.2em !important;
	line-height: 1.2em;
	height: 90px;
	padding: 15px 15px 5px;
		bottom: 4px; right: 15px;
	width: 200px;
}

.view-homepage .views-row .small-feature {
	height: auto;
}

.view-homepage .views-row .small-feature-1 {
	margin-right: 0;
}

.view-homepage .views-row .small-feature-2 {
	float: right;
}

.view-homepage .views-row .small-feature a .small-image {
	float: none;
	height: auto;
	width: 100%;
}

.view-homepage .views-row .small-feature a .small-image h3.title {
	font-size: .833em !important;
	height: auto;
	padding: 10px 0 10px;
	position: static;
	width: 100%;
}

	.view-homepage .views-row .small-feature a .small-image h3.title span {
		display: inline-block;
		margin-left: 10px;
	}

.view-homepage .views-row .small-feature a .small-image img {
	display: block;
	height: auto;
	width: 100%;
}

.view-homepage .views-row .small-feature a .small-image .feature-big-arrow {
	left: auto;
	right: 15px !important;
}

.view-homepage .views-row .small-feature a .description {
	font-size: 1em;
	padding-left: 18%;
	width: 82%;
}

	.view-homepage .views-row .small-feature a:hover .small-image img,
	.view-homepage .views-row .small-feature a:focus .small-image img {
		display: block;
	}