/* =============================================================================
  HOMEPAGE
  ========================================================================== */



/* =============================================================================
  FEATURES
  ========================================================================== */

.view-homepage .views-row .small-feature {
	height: 260px;
}

.view-homepage .views-row .small-feature a .description {
	float: left;
	width: 218px;
}