/* =============================================================================
  HOMEPAGE
  ========================================================================== */

/* Body Alterations */

.page-homepage .title-wrap {
	display: none;
}

/* =============================================================================
  FOCAL SLIDER
  ========================================================================== */

.focal-slide-wrap {
	height: auto;
	max-height: 350px;
	margin-left: 0;
	left: 0;
	max-width: 1040px;
	position: static;
	width: 100%;
}

.focal-slide-wrap .block-views {
	height: auto;
}

/* Focal View Edits */

.focal-slide .views-row {
	width: 100%;
}

/* Responsive Hide */

.focal-slide .slide-img-medium {
	display: block;
}

.focal-slide .slide-img-medium img {
	float: left;
	height: 100%;
	width: auto;
}

.focal-slide .slide-img-large, .focal-slide .slide-img-small {
	display: none;
}

/* Pagination */

.focal-pagination {
	position: absolute;
		top: 290px;	left: 30px;
	z-index: 10;
}

/* =============================================================================
  FEATURES
  ========================================================================== */

.view-homepage .views-row .large-feature {
	float: none;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
}

.view-homepage .views-row .large-feature img {
	height: auto;
	width: 100%;
}

.view-homepage .views-row .small-feature {
	height: auto;
	width: 48%;
}

.view-homepage .views-row .small-feature .field-content {
	width: 100%;
}

	.view-homepage .views-row .small-feature-1 {
		margin-right: 2%;
	}

.view-homepage .views-row .small-feature a .small-image {
	float: left;
	margin-right: 5px;
}

.view-homepage .views-row .small-feature a .description {
	float: left;
	width: 43%;
}