/* =============================================================================
  EXPOSED FILTER STYLES
  ========================================================================== */

.view-resources .view-filters .form-item-keys {
	padding-right: 30px;
}
.view-resources .view-filters .form-item-keys input {
	width: 100%;
}

.view-resources .view-filters .views-exposed-widget {
	float: none;
	margin-right: 0;
}

.view-resources .view-filters .views-submit-button {
	float: left;
	width: 48%;
}

.view-resources .view-filters .views-reset-button {
	float: right;
	width: 48%;
}

.view-resources .view-filters .views-submit-button input, .view-resources .view-filters .views-reset-button input {
	width: 100%;
}

.views-exposed-form .container-inline-date .date-padding {
	padding-right: 15px;
}

.container-inline-date .date-padding, .container-inline-date .form-item .form-item {
	float: none;
}

.container-inline-date .form-item, .container-inline-date .form-item input  {
	padding-right: 0;
	width: 100% !important;
}

/* =============================================================================
  GENERAL RESOURCE STYLES
  ========================================================================== */

.view-resources .views-row {
	margin: 0 -20px;
	padding: 20px 20px;
}

.pane-content .view-resources .views-row {
	margin: 0;
}

.view-resources .views-row .block-float {
	float: none;
	margin: 0;
}

/* Icons */

.view-resources .views-row .resource-icon {
	margin-right: -70px;
	width: 55px;
}

.view-resources .views-row .resource-thumb {
    float: left;
    text-align: center;
    margin-right: -90px;
    padding-right: 20px;
    padding-top: 6px;
    width: 140px;
}

/* Thumbnail */

.view-resources .views-row .resource-thumb {
	height: 90px;
	width: 120px;
}

.view-resources .views-row .resource-thumb img {
	border: 3px solid #FFF;
	height: 100%;
	width: auto;
}

/* =============================================================================
  COLLATERAL RESOURCES
  ========================================================================== */

.view-resource-collateral-resources .views-row .resource-content-inner {
    margin-left: 70px;
}

.view-resource-collateral-resources .views-row .resource-btn {
	margin-left: 70px;
}


/* =============================================================================
  MAPS AND APPS
  ========================================================================== */

.view-resource-maps-and-apps .views-row .resource-content-inner {
    margin-left: 140px;
}

/* =============================================================================
  TRAINING AND EVENTS
  ========================================================================== */

.view-training-and-events-list-view .views-row {
	padding-bottom: 10px;
}

