/* Jquery Select Overrides */

.ui-btn {
	margin: 0;
}

.ui-select a {
	background: #ebebeb url(../images/form-select-bg.png) no-repeat top right;
	color: #239ba9;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 0.857em;
	font-weight: bold;
}

	.ui-select a:hover, .ui-select a:focus {
		background: #ebebeb url(../images/form-select-bg.png) no-repeat bottom right;
		color: #7e9e27;
		text-decoration: none;
	}

.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
	height: 23px;
	min-width: 60px;
	max-width: 200px;
	padding: 10px 50px 0 15px;
	text-align: left;
}

.ui-select .ui-btn-icon-right .ui-icon {
	right: 9px;
}

/* Counts */

.ui-select .ui-btn-icon-right.ui-li-has-count .ui-li-count {
	background: #FFF;
	border-radius: 12px;
	color: #464547;
	font-weight: normal;
	font-size: 0.833em;
	padding: 1px 5px 2px;
	top: 53%;
}

/* Arrow */

.ui-select .ui-btn-icon-right .ui-icon {
	background: url(../js/jquery-mobile/images/icons-18-white.png) no-repeat -216px 50%;
}

/* Popup */

.ui-selectmenu .ui-header .ui-title, .ui-header .ui-title, .ui-footer .ui-title {
	color: #FFF;
	font-family: 'Avenir Heavy';
	font-size: 1.000em;
	padding: 8px 0 10px;
	text-indent: -2000px;
	overflow: hidden;
}

	.ui-header .ui-title, .ui-footer .ui-title {
		font-size: 1.143em;
		padding: 12px 0 10px;
	}

.ui-header, .ui-footer {
	background: #8eb722;
}

.ui-selectmenu {
	padding: 0px !important;
}

.ui-btn-icon-notext .ui-btn-inner .ui-icon {
	background: url(../js/jquery-mobile/images/icons-18-white.png) no-repeat -72px 50%;
}

.ui-li .ui-btn-text a.ui-link-inherit {
	border-bottom: 1px solid #e5e5e5;
	color: #292e33;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.ui-li .ui-btn-text a:hover.ui-link-inherit, .ui-li .ui-btn-text a:focus.ui-link-inherit {
	color: #779624;
	font-weight: bold;
	text-decoration: none;
}

/* Popup Inner */

.ui-content .ui-listview {
	background: #FFF;
	border: 4px solid #8eb722;
}

.ui-overlay-a .ui-header .ui-btn-left, .ui-footer .ui-btn-left {
	background: url(../js/jquery-mobile/images/icons-18-white.png) no-repeat -72px 50%;
	height: 18px;
	margin: 9px 0 0 5px;
	overflow: hidden;
	text-indent: -2000px;
	width: 18px;
}

/* Date-Picker Overrides */
.ui-datepicker .ui-datepicker-next span.ui-icon {
	background-position: -31px 2px;
}

.ui-datepicker .ui-datepicker-prev span.ui-icon {
	background-position: -96px 2px;
}

/* Height */

.ui-selectmenu .ui-listview {
	max-height: 300px;
	overflow-y: auto;
}

/* Select All Button */

a.ui-header-all {
	color: #FFF;
	font-family: 'Avenir Heavy';
	font-size: 1.000em;
	text-shadow: 0px 1px 1px #83a722;
	top: 0px;
}

	a:hover.ui-header-all {
		text-decoration: none;
	}

a.ui-header-all .ui-btn-inner {
	padding-top: .38em;
}

.ui-dialog-contain a.ui-header-all .ui-btn-inner {
	padding-top: .70em;
}

/* =============================================================================
  WEBFORM STYLES
  ========================================================================== */


.webform-client-form {
	background: url(../images/bg-dark-lines.png);
	display: block;
	margin: 0px 0 18px;
        padding-bottom: 25px;
	padding-right: 30px;
	padding-left: 30px;
}

.webform-client-form > div {
	padding-top: 20px;
}

.webform-client-form .webform-component-fieldset {
	padding: 10px 0px;
	width: 100%;
}

.webform-client-form .form-item {
	clear: both;
	margin: 14px 0;
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.webform-client-form{margin-top: -15px;} 
}*/

.webform-client-form legend {
	border-bottom: 1px solid #c2e2f1;
	color: #009aee;
	display: block;
	font-family: 'Avenir Heavy';
	font-size: 1.286em;
	margin: 0;
	padding: 15px 0 4px;
	width: 100%;
}

.webform-client-form label {
	color: #02a2b8;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 0.857em;
	font-weight: bold;
	text-align: right;
}

/* Select and Jquery Mobile */

.webform-component-select {
	float: left;
	margin-top: 0 !important;
	width: 550px;
}

.webform-component-select div.ui-select {
	float: left;
	min-width: 260px;
}

.webform-component-select label {
	float: left;
	margin-right: 14px;
	padding-top: 8px;
	width: 180px;
}

.webform-component-select div.ui-select a {
	background-color: #FFF;
}

/* Checkboxes & Radio */

.webform-component-checkboxes > label {
	/*position: relative;*/
	vertical-align: top;
}

.form-type-checkbox label, .form-type-radio label {
	font-weight: normal;
	text-align: left;
}

.webform-component-radios label {
	text-align: left;
}

.webform-component-radios .form-radios {
	margin-left: 195px;
}

.form-checkboxes .form-item {
	margin: 4px 0;
}

.form-checkboxes {
	display: inline-block !important;
	/*position: relative;*/
}

div.form-type-checkbox {
	display: block !important;
	margin-top: 0 !important;
}

div.form-type-radio {
	display: inline-block;
	margin-right: 15px;
	padding-right: 20px;
}

.webform-client-form .form-type-checkbox label,
.webform-client-form .form-type-radio label
 {
	color: #292E33;
	padding-left: 8px;
}

.webform-client-form .form-checkbox,
.webform-client-form .form-radio {
	height: 1em;
}

.webform-client-form .form-checkbox {
	-webkit-appearance: checkbox;
}

.webform-client-form .form-radio {
	-webkit-appearance: radio;
}

.webform-client-form .form-required {
	background-image: url('../images/form/star.png');
        background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 9px;
	margin-left: 9px;
	text-indent: -9000px;
	width: 10px;
}

@-moz-document url-prefix() {
	.webform-client-form .form-required {
		height: auto;
	}
}

/* Text and Textarea */

.webform-component-textarea label {
	margin-top: 30px;
	padding-bottom: 1em;
	text-align: left;
}

.webform-container-inline label {
    display: inline-block;
    min-width: 180px;
    margin-right: 12px;
}


.webform-client-form .form-textarea {
	padding-bottom: 15px;
	padding-top: 15px;
}

.webform-component-phone .form-text,
.webform-client-form .form-text {
	width: 48%;
}

.webform-client-form .form-text,
.webform-client-form .form-textarea
 {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-top-color: #dadada;
	color: #48525B;
    font-weight: normal;
}

.webform-client-form .form-text:focus,
.webform-client-form .form-textarea:focus {
	border: 1px solid #bfd681;
	background-color: #eef3df;
}

.webform-client-form .form-text:focus, 
.webform-client-form .form-textarea:focus {
	outline: none;
}
.webform-client-form .form-actions {
     border-top: 1px solid #E8E8E8;
     clear: both;
     margin-top: 20px;
     padding-top: 19px;
     text-align: right;
}

/* File Upload */

.webform-component-managed_file label {
	display: block;
	float: left;
	margin-right: 14px;
	padding-top: 8px;
}

.webform-client-form .form-managed-file {
	position: relative;
}

.webform-client-form .form-file {
	/*border-radius: 0;*/
	padding: 0;
}

.webform-client-form .form-managed-file input[type=text] {
	background: #FFF;
	box-shadow: inset 0px 1px 0px #DADADA;
	color: #292e33;
	font-weight: normal;
	padding-left: 4%;
	padding-right: 4%;
	width: 48%;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	width: 58%;
	z-index: 2;
}

div.fakefile input { padding: 0; }

.webform-client-form .form-uploadbtn {
    background: #01b9d1;
    color: white;
    margin: 0 10px 0 0;
    max-width: 136px;
    width: 40%;
    text-shadow: 0px 1px 2px #02aec4;
}

/* Date Picker */

.webform-component-date label {
	display: block;
	float: left;
	padding-top: 8px;
}

.webform-client-form .webform-datepicker {
	float: left;
	width: 60%;
}

.webform-client-form .webform-datepicker .form-item {
	clear: none;
	display: block;
	float: left;
	margin: 0 8px 0 0;
	min-width: 90px;
	width: 30%;
}

	.webform-client-form .webform-datepicker > .last {
		margin-right: 0 !important;
	}

.webform-client-form .webform-datepicker input.webform-calendar {
	border: none;
	display: none;
	float: left;
	height: 24px;
	margin: 4px 0 0;
	padding: 0;
	text-indent: -2000px;
	width: 28px;
}

.webform-client-form .webform-datepicker .form-item div.ui-select a {
	background-color: #FFF;
}

.webform-client-form .webform-datepicker .form-item div.ui-select .ui-btn-icon-right .ui-btn-inner, .webform-client-form .webform-datepicker .form-item div.ui-select .ui-li-has-count .ui-btn-inner {
	min-width: 28px;
}

/* Submit Button */

.webform-client-form .form-submit {
	background: #E4692B;
	color: white;
	margin: 0;
	min-width: 90px;
	text-shadow: 0px 1px 2px #CB5D26;
}

.webform-client-form .form-submit:hover, .webform-client-form .form-submit:focus {
	background: #8eb722;
    text-shadow: 0px 1px 2px #61810d;
}

/* Reset Button */

.webform-client-form .form-reset {
    background: #758794;
    color: white;
    margin: 0 10px 0 0;
    min-width: 90px;
    text-shadow: 0px 1px 2px #687884;
}

.webform-client-form .form-reset:hover, .webform-client-form .form-reset:focus {
    background: #8eb722;
    text-shadow: 0px 1px 2px #61810d;
}
