@import url("fontface/avenir-fontface.css");

/* =============================================================================
  GLOBAL
  ========================================================================== */

/*

AVENIR
font-family: 'Avenir Regular';
font-family: 'Avenir Regular Italic';
font-family: 'Avenir Medium';
font-family: 'Avenir Medium Italic';
font-family: 'Avenir Black';
font-family: 'Avenir Heavy';

HELVETICA
font-family: Helvetica, Arial, "Lucida Grande", sans-serif;


Font Color: #292e33;
Blue: #009aee;

LINKS
Text: #698d0c;
Underline: #e4edc9;
Grey Underlines: #bec0c1;

*/

body {
  background: #009aee url(../images/bg-vector.png) no-repeat bottom left;
  color:      #212a31;
  margin:     0;
  font:       0.875em Georgia, "Times New Roman", Times, serif;
}

/* =============================================================================
  USEFUL ELEMENTS
  ========================================================================== */

.hr, .node-inner > .content hr {
  background:  #E5E5E5;
  border:      none;
  height:      1px;
  line-height: 1px;
  margin:      1em 0px;
  overflow:    hidden;
}

.cl {
  clear:       both;
  height:      0px;
  line-height: 0px;
  overflow:    hidden;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

.strong {
  font-weight: bold;
}

.views-spacer {
  height: 1px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 20px 0;
}

/* =============================================================================
  LINKS
  ========================================================================== */

/* Links */
a {
  cursor: pointer;
}

a:link, a:visited {
  color: #009aee;
  text-decoration: none;
}

a:hover, a:active {
  color: #84ab20;
  text-decoration: underline;
}

/* Special links */
a.download-button {
  background: #e4692b;
  display: block;
  padding: 1em;
  color: #FFF;
  font-size: 1.5em;
  font-family: 'Avenir Heavy';
  text-align: center;
  border-radius: 2px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
  a.download-button:hover {
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    background-color: #8eb722;
  }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

.subtitle {
  color: #B1B3B6;
  line-height: 1em;
}

h3.subtitle {
  font-family: 'Avenir Regular';
}

/* =============================================================================
  Typography
  ========================================================================== */

h1, h2, h3, h4, h5 {
  line-height: 1.3em;
}

h1 {
  color: #009aee;
  font-family: 'Avenir Medium';
  font-size: 2.143em;
  font-weight: 300;
  letter-spacing: -0.05em;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  color: #009aee;
  font-family: 'Avenir Medium';
  font-size: 1.857em;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-bottom: 0.75em;
}

h3 {
  color: #292e33;
  font-family: 'Avenir Medium';
  font-size: 1.571em;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-bottom: 0.75em;}

h4 {
  color: #292e33;
  font-family: 'Avenir Regular';
  font-size: 1.286em;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-bottom: 0.75em;}

h5 {
  color: #292e33;
  font-family: 'Avenir Regular';
  font-size: 1.071em;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}

/* Paragraph styles. */
p {
  line-height: 1.4em;
  margin: 0 0 1em 0;
}

p + h2, p + h3, p + h4, p + h5 {
  margin-top: 25px;
}

/* =============================================================================
  LISTS AND TABLES
  ========================================================================== */

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}
ul.tabs.primary {
  margin: 5px 0;
}

/* Table styles. */
table {
  width: 99%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

.node-inner table {
  width: 100%;
  font-family: 'Arial', sans-serif;
  margin-bottom: 30px;
}

.node-inner thead {
  background: #8a93ce url(../images/bg-purple-lines.png) repeat;
  color: #FFF;
}

.node-inner tbody tr {
  background: #F7F7F7;
}

.node-inner tbody tr:nth-child(even) {
  background: #EFEFEF;
}

.node-inner td, .node-inner th {
  padding: 15px;
}

.node-inner img {
  margin: 25px;
  max-width: 100%;
  height: auto;
}

#tinymce .checkmark{
  border: 1px solid red;
  /*background: red;*/
  /*color: white;*/
  display: block;
  /*font-size: larger;*/
  text-indent: inherit;
}

.checkmark {
  background: url(../images/compare-check.png) right no-repeat;
  display: inline-block;
  text-indent: 9999px;
  overflow: hidden;
  width: 25px;
  height: 20px;
}

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

.node-inner ul, .node-inner ol {
  padding: 1em 5em 1em 5em;
  background: #F7F7F7;
  margin-bottom: 30px;
}
.node-inner li {
  margin: 22px auto;
  line-height: 1.5em;
  padding-left: .5em;
}
.node-inner ul li {
  list-style-image: url(../images/list-bullet-boxes.png);
}

.node-inner ol.ordered-list-processed {
  color: #009AEE;
}
.node-inner ol.ordered-list-processed p.ordered-list-item {
  color: #000;
}


/* =============================================================================
  SYSTEM STYLING
  ========================================================================== */

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

.color-strip {
  height: 3px;
  margin: 0;
}
  .strip-first, .strip-second, .strip-third, .strip-fourth {
    float: left;
    height: 3px;
    width: 25%;
  }

  .strip-first {
    background: #a6c84b;
  }

  .strip-second {
    background: #00b3ee;
  }

  .strip-third {
    background: #8a93ce;
  }

  .strip-fourth {
    background: #01bad1;
  }

  .breadcrumb {
    display: none;
  }

/* =============================================================================
  FORMS
  ========================================================================== */

input, textarea {
  -webkit-appearance: none;
  background: #ebebeb;
  border: none;
  border-radius: 2px;
  color: #239ba9;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.857em;
  font-weight: bold;
  height: 33px;
  padding: 0px 15px;
}

textarea {
  height: 150px;
}

/* =============================================================================
  HEADER
  ========================================================================== */

header {
  background: #ebebeb url(../images/bg.png);
}

.header-inner {
  background: #FFF;
  font-size: 0.929em;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 40px 18px;
}

.header-inner #logo {
  float: left;
  margin: 30px 0 0;
}

.header-inner .color-strip {
  margin-bottom: 15px;
}

.rsp-search {
  display: none;
}

  /* Search Bar */
  #block-search-form {
    clear: right;
    float: right;
    margin: 24px 0 0;
  }

  #block-search-form .form-text {
    background: #ebebeb;
    border: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 1px 1px 1px #d9d9d9;
    color: #48525a;
    float: left;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    height: 33px;
    padding: 0px 10px;
    width: 180px;
  }

  #block-search-form .form-submit {
    background: #01bad1 url(../images/search-btn-bg.png) center no-repeat;
    border: none;
    border-radius: 0 2px 2px 0;
    float: left;
    height: 33px;
    text-indent: -2000px;
    width: 33px;
  }

  #block-search-form .form-submit:hover, #block-search-form .form-submit:focus {
    background: #8eb722 url(../images/search-btn-bg.png) center no-repeat;
  }

/* =============================================================================
  PAGE LAYOUT
  ========================================================================== */

.title-wrap {
  background: #009aee url(../images/title-bg.png) no-repeat bottom right;
  min-height: 43px;
  padding: 43px 0 12px;
}

.title-inner {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 40px;
}

.title-inner span.title {
  color: #FFF;
  font-family: 'Avenir Heavy';
  font-size: 3.429em;
  font-weight: 300;
  letter-spacing: -0.05em;
  padding: 0 0 0.5em;
  margin: 0;
  text-shadow: 0px 2px 0px #0089d4;
}

.main-inner {
  background: #ebebeb url(../images/bg.png);
  position: relative;
  z-index: 1;
}

.main-bg-top {
  background: #009aee url(../images/title-under-bg.png) no-repeat top right;
  height: 235px;
  position: absolute;
    left: 0; top: 0;
  width: 100%;
  z-index: 1;
}

.main-bg-bottom {
  background: #009aee;
  height: 110px;
  position: absolute;
    left: 0; bottom: 0;
  width: 100%;
  z-index: 0;
}

.content-wrap {
  background: #FFF;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 40px 50px;
  position: relative;
  z-index: 3;
}

#content {
  z-index: 3;
}

#content-area {
  min-height: 250px;
}

.rsp-language {
  display: none;
}

.page-message {
  background: url(../images/bg-dark-lines.png);
  display: block;
  margin: 2px 0 18px;
}

.page-message-inner {
  font-style: normal;
  padding: 30px;
}

.page-message-inner p {
  font-size: 1.286em;
  margin-bottom: 0;
}

/* =============================================================================
  SIDEBARS
  ========================================================================== */

#sidebar-first {
}

#sidebar-second {
}

/* =============================================================================
  FOOTER FEATURE
  ========================================================================== */


#footer-feature {
  min-height: 250px;
}

#footer-feature .color-strip {
  display: none;
  margin-bottom: 20px;
}

.footer-feature-inner {
  margin: 0 auto;
  max-width: 960px;
  padding: 35px 40px 20px;
}

.view-footer-feature a.footer-feature-link {
  color: #FFF;
  text-decoration: none;
}

.view-footer-feature a:hover.footer-feature-link {
  color: #FFF;
  text-decoration: none;
}

.view-footer-feature .views-row {
  color: #FFF;
  display: block;
  float: left;
  margin: 0 5.52% 10px 0;
  width: 20.83%;
}

  .view-footer-feature .views-row-last {
    margin-right: 0;
  }

.view-footer-feature .views-row .views-field-title-field {
  float: left;
  width: 69%;
}

.view-footer-feature .views-row h3 {
  color: #FFF;
  font-family: 'Avenir Regular';
  font-size: 2.143em;
  line-height: 0.850em;
  margin: 0;
  padding: 2px 0 0;
  text-shadow: 0px 2px 0px #0089d4;
}

.view-footer-feature .views-row h3 span.title-line-two {
  font-family: 'Avenir Heavy';
}

/* Body */

.view-footer-feature .views-row .views-field-body {
  clear: both;
  font-size: 0.929em;
  line-height: 1.4em;
  padding: 10px 0 20px;
}

/* Image */

.view-footer-feature .views-row .views-field-field-footer-feature-icon {
  float: left;
  height: 60px;
  margin: 0 6px 0 0;
  width: 55px;
}

/* Learn More Link */

.view-footer-feature .views-row a.footer-feature-link-inner {
  background: #334659;
  border-radius: 2px;
  color: #FFF;
  display: block;
  float: left;
  font-family: 'Avenir Medium';
  font-size: 1.286em;
  padding: 12px 22px;
  text-align: center;
}

  .view-footer-feature .views-row a.footer-feature-link-inner:hover, .view-footer-feature .views-row a.footer-feature-link-inner:focus {
    background: #f2f2f2;
    color: #292e33;
    text-decoration: none;
  }

/* =============================================================================
  FOOTER
  ========================================================================== */

#footer {
  background: #009aee;
}

.footer-inner {
  background: #FFF;
  margin: 15px auto 0;
  max-width: 960px;
  padding: 20px 40px 0;
}

.footer-inner .color-strip {
  margin-top: 20px;
}

.footer-inner .color-strip-a {
  display: none;
}

.footer-inner .color-strip-b {
  display: block;
}

.footer-top {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 20px;
}

.footer-top a.footer-social {
  background-color: #c0c0c0;
  border-radius: 2px;
  display: block;
  float: left;
  height: 34px;
  margin-right: 7px;
  text-indent: -2000px;
  width: 36px;
}

  .footer-top a:hover.footer-social, .footer-top a:focus.footer-social {
    background-color: #8eb722;
  }

  .footer-top a.footer-linkedin  { background-image: url(../images/icon-social-linkedin.png); background-repeat: no-repeat; background-position: center; }
  .footer-top a.footer-twitter   { background-image: url(../images/icon-social-twitter.png); background-repeat: no-repeat; background-position: center; }
  .footer-top a.footer-facebook  { background-image: url(../images/icon-social-facebook.png); background-repeat: no-repeat; background-position: 16px 4px; }
  .footer-top a.footer-youtube   { background-image: url(../images/icon-social-youtube.png); background-repeat: no-repeat; background-position: center; }

  .footer-social-block {
    float: left;
  }

  /* eNewsletter */

  #block-esri_theme_config-newsletter {
    float: right;
  }

  #block-esri_theme_config-newsletter h2 {
    color: #01bad1;
    display: block;
    float: left;
    font-family: 'Avenir Medium';
    font-size: 1.143em;
    padding: 6px 15px 0 0;
  }

  #block-esri_theme_config-newsletter .content {
    float: right;
  }

  #block-esri_theme_config-newsletter input.ea {
    background: #ebebeb;
    border: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 1px 1px 1px #d9d9d9;
    color: #48525a;
    float: left;
    font-size: 0.857em;
    font-style: italic;
    font-weight: normal;
    height: 33px;
    padding: 0px 10px;
    width: 140px;
  }

  #block-esri_theme_config-newsletter input.submit {
    background: #01bad1;
    border-radius: 0 2px 2px 0;
    color: #FFF;
    font-size: 0.929em;
    text-align: center;
    text-shadow: 0px 1px 1px #01a9be;
  }

  #block-esri_theme_config-newsletter input:hover.submit, #block-esri_theme_config-newsletter input:focus.submit {
    background: #8eb722;
    text-shadow: 0px 1px 1px #61810d;
  }

.footer-bottom {
  margin: 60px 0 0;
}

#block-esri_theme_config-copyright {
  float: left;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.857em;
}

.footer-ie7-fix {
  display: none;
}

/**
 * TinyMCE editing styles
 */
body#tinymce, body#mceTemplatePreview {
  background:#FFF;
}
#tinymce .blockquote-wrapper {
  margin-bottom: 30px;
}
#tinymce .accordion-wrapper, #tinymce .blockquote-wrapper, #tinymce .insetimage-wrapper {
  border: 1px solid red;
}

/**
 * Accordion
 */
.accordion-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 1px solid #E5E5E5;
  position: relative;
}

  .accordion-wrapper .accordion-title {
    background: none;
    border-left: 3px solid #FFF;
    color: #000;
    display: block;
    padding: 15px 15px;
    font-family: 'Avenir Heavy';
    font-size: 1.286em;
    cursor: pointer;
  }
  .accordion-wrapper .accordion-indicator:before {
    color: #009aee;
  }
  .accordion-wrapper.expanded .accordion-title {
    background: #d9f0fc;
    border-left: 3px solid #4083a7;
    color: #009aee;
  }
  .accordion-wrapper .accordion-title:hover {
    background: #eef3df;
    border-left: 3px solid #8eb722;
    color: #84ab20;
    text-decoration: none;
  }
  .accordion-wrapper .accordion-title:hover .accordion-indicator:before {
    color: #84ab20;
  }
  .accordion-wrapper .accordion-body {
    margin: 1em auto;
  }
  .accordion-wrapper .accordion-indicator {
    position: absolute;
    letter-spacing: -2px;
    right: 13px;
    top: 11px;
    font-size: 1.5em;
  }
  .accordion-wrapper .accordion-indicator:before {
    content: '+';
  }
  .accordion-wrapper.expanded .accordion-indicator:before {
    content: '--';
  }

/**
 * blockquote
 */
.blockquote-wrapper {
  background: #f3f3f3;
  background-image: url(../images/bg-dark-lines.png);
  background-repeat: repeat;
  margin-bottom: 30px;
}
.blockquote-wrapper blockquote {
  padding: 29px 30px;
  font-size: 1.25em;
  line-height: 1.45em;
  background-image: url(../images/speech-bubble.png);
  background-position: right top;
  background-repeat: no-repeat;
}
  .blockquote-wrapper blockquote p {
    margin-bottom: 0;
    line-height: 1.35em;
  }

/**
 * insetimage
 */
.insetimage-wrapper {
  background: #f3f3f3;
  background-image: url(../images/bg-dark-lines.png);
  background-repeat: repeat;
  padding: 20px 20px 30px;
  margin-bottom: 30px;
  text-align: center;
}
  .insetimage-wrapper .insetimage-image {
    background: white;
    box-shadow: 0px 1px 2px #BEBEBE;
    -moz-box-shadow: 0px 1px 2px #BEBEBE;
    -webkit-box-shadow: 0px 1px 2px #BEBEBE;
    padding: 8px;
    display: inline-block;
    width: auto;
    margin: 0 auto;
  }
    .insetimage-wrapper .insetimage-image img {
      max-width: 100%;
      margin: 0;
    }
  .insetimage-wrapper .insetimage-caption {
    padding: 15px 0 0;
    font-size: .85em;
    font-style: italic;
    text-align: left;
    width: 100%;
    /*line-height: 1.45em;*/
  }
    .insetimage-wrapper .insetimage-label {
      color: #239ba9;
      font-size: 1em;
      font-style: normal;
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: bold;
      /*line-height: 1.45em;*/
    }

/* =============================================================================
  TRAINING AND EVENTS
  ========================================================================== */

.pane-training-events-related-content .pane-title {
  border-bottom: 1px solid #D9EFFC;
  font-size: 1em;
  margin-left: 20px;
  padding-bottom: 4px;
  width: 82%;
}

.related-content-node {
  display: block;
	padding: 15px 20px;
}

.related-content-node.Featured {
  background-color: #fdf3f1;
}

.related-content-node .featured-title
{
  color: #E26836;
  display: none;
  font-family: 'Helvetica';
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-bottom: 0.5em;
}

.related-content-node .featured-title :hover, .related-content-node .featured-title :active {
    text-decoration:none;
}

.views-row-1 .related-content-node .featured-title {
	display:block;
}

.related-content-node .related-content-title {
	color: #292e34;
	display: block;
	font-family: 'Avenir Medium';
	font-size: 1.45em;
	font-weight: 300;
	letter-spacing: -0.03em;
}

.related-content-node .date-display-single {
	color: #8F8F8F;
	display: block;
	font-family: "Helvetica";
	margin-top: 2px;
}

.view-training-events-related-content a.related-content-node:hover {
  text-decoration: none;
}

  .view-training-events-related-content a.related-content-node:hover * {
    color: #84AB20;
    /*text-decoration: underline;*/
  }

  .view-training-events-related-content a.related-content-node:hover > div.featured-title {
    color: #E26836;
    text-decoration: none;
  }

.related-content-node .related-content-location {
  color: #8F8F8F;
  display: block;
  font-family: "Helvetica";
  font-size: 0.857em;
  margin-top: 2px;
}

a.more-related-content {
  background: url("../images/Right.png") no-repeat scroll 97% 5px transparent;
  display: block;
  font-family: "Helvetica";
  font-size: 0.857em;
  color: #01BAD1;
  margin-left: 20px;
  margin-top: 15px;
  text-decoration: none;
  width: 80px;
}

	a.more-related-content:hover {
		background: url("../images/Right-Hover.png") no-repeat scroll 100% 5px transparent;
	}

/**
	* MOVE THIS TO IT'S OWN FILE
	*/

#external-registration-form iframe {
    border: 0 none;
    height: 500px;
    width: 100%;
}

/******************************************
 * Generic Pages
 ******************************************/

/* Focus Image */
.field-name-field-gp-focal-image img {
    max-width: 100%;
    margin-bottom: 15px;
}

/* Button Field Collection */
.field-name-field-gp-fc-buttons .field-item {
  margin-bottom: 10px;
}
  .field-name-field-gp-fc-buttons .field-items {
    margin-bottom: -10px;
  }

/* Key-Info Field Collection */
.field-name-field-gp-fc-key-info .field-item {
  margin-bottom: 10px;
}
  .field-name-field-gp-fc-key-info .field-item .description {
    padding-bottom: 5px;
    font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 0.857em;
  }


/* =============================================================================
  SHARE THIS REGION
  ========================================================================== */

#sharethis {
  background: #f2f2f2;
  padding: 10px 10px 10px;
  position: absolute;
    top: 0px; right: 40px;
  text-align: right;
}

#sharethis .stButton {
  display: block;
  margin: 0 0 0 0px;
}

.stButton .stBubble_hcount {
  font-size: 9px !important;
}

.stButton .stHBubble {
  background: #FFF !important;
  border: 1px solid #d7d7d7 !important;
  padding: 2px 2px 1px !important;
}

  /* Twitter Button */
  .st-twitter-counter {
    background: url(../images/share-sprite.png) no-repeat 0px 0px !important;
    width: 60px !important;
  }

    .st-twitter-counter:hover, .st-twitter-counter:focus {
      background: url(../images/share-sprite.png) no-repeat 0px -32px !important;
    }

  /* Facebook Button */
  .st-facebook-counter {
    background: url(../images/share-sprite.png) no-repeat -70px 0px !important;
    width: 60px !important;
  }

    .st-facebook-counter:hover, .st-facebook-counter:focus {
      background: url(../images/share-sprite.png) no-repeat -70px -32px !important;
    }

  /* LinkedIn Button */
  .st-linkedin-counter {
    background: url(../images/share-sprite.png) no-repeat -140px 0px !important;
    width: 60px !important;
  }

    .st-linkedin-counter:hover, .st-linkedin-counter:focus {
      background: url(../images/share-sprite.png) no-repeat -140px -32px !important;
    }

  /* Email Button */
  .st-email-counter {
    background: url(../images/share-sprite.png) no-repeat -210px 0px !important;
    width: 60px !important;
  }

    .st-email-counter:hover, .st-email-counter:focus {
      background: url(../images/share-sprite.png) no-repeat -210px -32px !important;
    }

  /* FRENCH VERSION */

  /* Twitter Button */
  body.i18n-fr .st-twitter-counter {
    background: url(../images/share-sprite-fr.png) no-repeat 0px 0px !important;
    width: 66px !important;
  }

    body.i18n-fr .st-twitter-counter:hover, .st-twitter-counter:focus {
      background: url(../images/share-sprite-fr.png) no-repeat 0px -32px !important;
    }

  /* Facebook Button */
  body.i18n-fr .st-facebook-counter {
    background: url(../images/share-sprite-fr.png) no-repeat -70px 0px !important;
    width: 66px !important;
  }

    body.i18n-fr .st-facebook-counter:hover, .st-facebook-counter:focus {
      background: url(../images/share-sprite-fr.png) no-repeat -70px -32px !important;
    }

  /* LinkedIn Button */
  body.i18n-fr .st-linkedin-counter {
    background: url(../images/share-sprite-fr.png) no-repeat -140px 0px !important;
    width: 66px !important;
  }

    body.i18n-fr .st-linkedin-counter:hover, .st-linkedin-counter:focus {
      background: url(../images/share-sprite-fr.png) no-repeat -140px -32px !important;
    }

  /* Email Button */
  body.i18n-fr .st-email-counter {
    background: url(../images/share-sprite-fr.png) no-repeat -210px 0px !important;
    width: 60px !important;
  }

    body.i18n-fr .st-email-counter:hover, .st-email-counter:focus {
      background: url(../images/share-sprite-fr.png) no-repeat -210px -32px !important;
    }
