/* =============================================================================
  HEADER NAVIGATION
  ========================================================================== */

#block-menu-menu-header-menu {
	float: right;
	margin: 0 24px 0 0;
}

#block-menu-menu-header-menu ul.menu {
	margin: 0;
	padding: 0;
}

#block-menu-menu-header-menu ul.menu li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 0 0 15px;
	padding: 0;
}

#block-menu-menu-header-menu ul.menu li a {
	color: #292e33;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
}

	#block-menu-menu-header-menu ul.menu li a:hover, #block-menu-menu-header-menu ul.menu li a:focus {
		color: #84ab20;
	}

/* =============================================================================
  LANGUAGE NAVIGATION
  ========================================================================== */

#block-locale-language {
	float: right;
}

#block-locale-language ul, .region-rsp-language ul {
	margin: 0;
	padding: 0;
}

#block-locale-language ul li, .region-rsp-language ul li {
	background: url(../images/menu-divider.png) no-repeat right center;
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 18px 0 0;
}
	
	#block-locale-language ul li.last, .region-rsp-language ul li.last {
		background: none;
		padding: 0;
	}

#block-locale-language ul li a, .region-rsp-language ul li a {
	color: #292e33;
	font-family: 'Avenir Regular';
	text-transform: uppercase;
}

	#block-locale-language ul li a:hover, #block-locale-language ul li a:focus, .region-rsp-language ul li a:hover, .region-rsp-language ul li a:focus {
		color: #84ab20;
	}

#block-locale-language ul li a.active, .region-rsp-language ul li a.active {
	color: #01bad1;
	font-family: 'Avenir Black';
	font-size: 0.96em;
}


/* =============================================================================
  NAVIGATION
  ========================================================================== */

.rsp-navigation {
	display: none;
}

nav {
  background: #ebebeb url(../images/bg.png);
  height: 85px;
  z-index: 50;
}

.nav-inner {
  margin: 0 auto;
  max-width: 960px;
  z-index: 50;
}

nav ul.menu {
	margin: 0;
	padding: 37px 0 0;
  text-align: center;
}

nav ul.menu li {
	display: inline-block;
	height: 48px;
	list-style: none;
	margin: 0 5% 0 0;
	padding: 0;
	position: relative;
	text-align: left;
}

	nav ul.menu li.last {
		margin-right: 0;
	}

nav ul.menu li a {
	color: #292e33;
	display: inline-block;
	font-family: 'Avenir Heavy';
	font-size: 1.143em;
	height: 22px;
	letter-spacing: -0.08em;
	margin: 0 0 0 0;
	padding: 0 8px 26px 0;
}

nav ul.menu li a:hover, nav ul.menu li a:focus {
	color: #8eb722;
	text-decoration: none;
}

nav ul.menu li:hover.expanded {
	background: url(../images/menu-expanded.png) no-repeat center 28px;
}
nav ul.menu li:hover.expanded > a {
	background: url(../images/menu-hover.png) bottom right no-repeat;
	color: #8eb722;
	text-decoration: none;
}

nav > ul.menu li > a:hover, nav > ul.menu li > a:focus {
	background: url(../images/menu-hover.png) bottom right no-repeat;
	color: #8eb722;
	text-decoration: none;
}

nav ul.menu > li.active-trail > a, nav ul.menu li a.active {
	background: url(../images/menu-active.png) bottom right no-repeat;
	color: #009aee;
}

.block-menu div.content {
	position: relative;
}


nav .block-menu ul.menu li div.submenu ul.menu li a.active {
	background-image: none;
	color: #292e33;
}

nav .block-menu ul.menu li div.submenu {
  background: url(../images/menu-secondary-bg.png) repeat-y;
  border-top: 3px solid #8eb722;
  box-shadow: 0px 1px 2px #cbcbcb;
  display: none;
  font: Georgia,"Times New Roman",Times,serif;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  	left: -70px; top: 48px;
  text-indent: 0;
  width: 575px;
  z-index: 50;  
}

/* Secondary Menu */

nav .block-menu ul.menu li div.submenu > ul.menu {
	float: left;
	margin: 0;
	padding: 15px 0;
	width: 250px;
}

nav .block-menu ul.menu li div.submenu > ul.menu > li {
	display: block;
	float: none;
	height: auto;
	margin: 0; 
	padding: 0;
}

	nav .block-menu ul.menu li div.submenu > ul.menu > li.last {
		margin:0;
	} 

	nav .block-menu ul.menu li div.submenu > ul.menu > li > a,
	nav .block-menu ul.menu li div.submenu > ul.menu > li > a.active  {
	  background: none;
	  border-left: 3px solid #8eb722;
	  color: #fff;
	  display: block;
	  float: none;
	  font-weight: 300;
	  height: auto;
	  letter-spacing: 0em;
	  margin: 1px 0 1px;
	  padding: 5px 30px 5px 22px;
	  text-shadow: 0px 1px 1px #7ea31e;
	  text-decoration: none;
	}

	nav .block-menu ul.menu li div.submenu > ul.menu > li.expanded > a {
		background-image: url(../images/menu-secondary-expanded.png);
		background-repeat: no-repeat;
		background-position: right center;
	}

	nav .block-menu ul.menu li div.submenu > ul.menu > li:hover > a {
	  background-color: #b0cd65;
	  border-left: 3px solid #FFF;
	}

/* Tertiary Menu */ 

nav .block-menu ul.menu li div.tertiary_menu_container {
  background: #FFF;
  float: right;
  height: 100%;
  min-height: 315px;
  padding: 15px 25px 25px;
  width: 275px;
}

nav .block-menu ul.menu li div.tertiary_menu {
  display: none;
  height: 100%;
  width: 100%;
}

nav .block-menu ul.menu li div.tertiary_menu > ul.menu {
  margin: 0;
  padding: 0;
}

nav .block-menu ul.menu li div.tertiary_menu > ul.menu li {
	display: block;
	float: none;
	height: auto;
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	
	nav .block-menu ul.menu li div.tertiary_menu > ul.menu li:hover {
		background: none !important;
	}

nav .block-menu ul.menu li div.tertiary_menu > ul.menu li a {
	border-bottom: 1px solid #e5e5e5;
	display: block;
	float: none;
	font: 1em Georgia, "Times New Roman", Times, serif;
	height: auto;
	letter-spacing: 0em;
	margin: 0;
	padding: 8px 14px;
}

nav .block-menu ul.menu li div.tertiary_menu > ul.menu li a:hover, 
nav .block-menu ul.menu li div.tertiary_menu > ul.menu li a:focus {
	background: #eff4e1;
	color: #8bb029;
	border-left: 3px solid #8bb029;
	padding-left: 11px;
	text-decoration: none;
}

nav .block-menu ul.menu li div.tertiary_menu_container div.secondary-description {
	color: #698d0c;
	font-size: 1em;
	line-height: 1.5em;
	padding: 30px 15px;
}

/* iPad Fixes */

ul.menu-ipad-fix {
	display: none;
	position: absolute;
		left: 0px;	top: 0px;
}

ul.menu-ipad-fix li {
	display: none;
}

ul.menu-ipad-fix li a {
	overflow: hidden;
	text-indent: -2000px;
}

/* =============================================================================
  FOOTER NAVIGATION
  ========================================================================== */

#block-menu-menu-footer-menu {
	float: right;
	margin: 0;
}

#block-menu-menu-footer-menu ul.menu {
	margin: 0;
	padding: 0;
}

#block-menu-menu-footer-menu ul.menu li {
	background: url(../images/menu-divider.png) no-repeat right center;
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 18px 0 0;
}
	
	#block-menu-menu-footer-menu ul.menu li.last {
		background: none;
		padding: 0;
	}
#block-menu-menu-footer-menu ul.menu li a {
	color: #292e33;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 0.857em;
}

	#block-menu-menu-footer-menu ul.menu li a:hover, #block-menu-menu-footer-menu ul.menu li a:focus {
		color: #84ab20;
	}

 /* =============================================================================
  RESPONSIVE NAVIGATION
  ========================================================================== */

#block-esri_theme_config-header_nav_rsp {
	display: none;
	float: right;
}

#block-esri_theme_config-header_nav_rsp .block-title {
	display: none;
}

 /* =============================================================================
  LEFT SIDEBAR NAVIGATION
  ========================================================================== */

.region-sidebar-first .menu-block-wrapper {
	margin: 0 0 40px;
}

.region-sidebar-first .menu-block-wrapper ul {
	margin: 0;
	padding: 0;
}

.region-sidebar-first .menu-block-wrapper ul li {
	display: block;
	margin: 0;
	padding: 0;
}

.region-sidebar-first .menu-block-wrapper ul li a {
	border-bottom: 1px solid #e5e5e5;
	border-left: 3px solid #FFF;
	color: #000;
	display: block;
	margin: 0;
	padding: 8px 15px;
}

.region-sidebar-first .menu-block-wrapper ul li a:hover, .region-sidebar-first .menu-block-wrapper ul li a:focus {
	background-color: #eef3df;
	border-left: 3px solid #779624;
	color: #779624;
	text-decoration: none;
}

/* Primary */

.region-sidebar-first .menu-block-wrapper > header {
	background: none;
}
.region-sidebar-first .menu-block-wrapper > header > a {
	background-image: url(../images/menu-tertiary-home.png);
	background-repeat: no-repeat;
	background-position: 2px 11px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 3px solid #FFF;
	display: block;
	font-style: italic;
	margin: 0;
	padding: 8px 18px;
}

.region-sidebar-first .menu-block-wrapper > header > a > h3 {
	color: #009aee;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

	.region-sidebar-first .menu-block-wrapper > header > a:hover, .region-sidebar-first .menu-block-wrapper > header > a:focus {
		background-position: 2px -39px;
		background-color: #eef3df;
		border-left: 3px solid #779624;
		color: #779624;
		text-decoration: none;
	}

	.region-sidebar-first .menu-block-wrapper > header > a:hover > h3, .region-sidebar-first .menu-block-wrapper > header > a:focus > h3 {
		color: #779624;
	}

/* Secondary */

.region-sidebar-first .menu-block-wrapper > ul.menu > li > a {
	padding-left: 18px;
}

.region-sidebar-first .menu-block-wrapper > ul.menu > li.active-trail > a {
}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.expanded.active-trail > a {
		background-image: url(../images/menu-tertiary-active-secondary.png);
		background-repeat: no-repeat;
		background-position: 1px center;
	}

		.region-sidebar-first .menu-block-wrapper > ul.menu > li.expanded.active-trail > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.expanded.active-trail > a:focus {
			background-image: url(../images/menu-tertiary-active-secondary-hover.png);
		}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li > a.active {
		background-color: #d9f0fc;
		border-left: 3px solid #4083a7;
		color: #009aee;
		font-weight: bold;
		font-style: italic;
	}

/* Tertiary */

.region-sidebar-first .menu-block-wrapper > ul.menu > li > ul.menu {
	display: none;
}

.region-sidebar-first .menu-block-wrapper > ul.menu > li.active-trail > ul.menu {
	display: block;
}

.region-sidebar-first .menu-block-wrapper > ul.menu > li > ul.menu {
	padding: 10px 0 10px 25px;
}

.region-sidebar-first .menu-block-wrapper > ul.menu > li > ul.menu > li > a {
	border-bottom: none;
	color: #212a31;
	font-style: normal;
}

.region-sidebar-first .menu-block-wrapper > ul.menu > li > ul.menu > li > a.active {
	background-color: #d9f0fc;
	border-left: 3px solid #4083a7;
	color: #009aee;
	font-weight: bold;
}

/* Fourth Level and Lower */

.region-sidebar-first .menu-block-wrapper > ul.menu > li > ul.menu > li > ul.menu {
	display: none;
}

/* FOURTH LEVEL STYLES */

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent > a {
	background-image: url(../images/menu-tertiary-active-primary.png);
	background-repeat: no-repeat;
	background-position: 8px center;
	background-color: transparent;
	border-left: 3px solid #FFF;
	color: #009aee;
	font-style: italic;
}


	.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent > a:hover, .region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent > a:focus {
		background-image: url(../images/menu-tertiary-active-primary-hover.png);
		background-color: #eef3df;
		border-left: 3px solid #779624;
		color: #779624;
	}

	/* Deep Secondary */

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu {
		padding: 0;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > a {
		border-bottom: 1px solid #e5e5e5;
		padding-left: 30px;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > a:focus {
		color: #779624;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li.active-trail > a {
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li.expanded.active-trail > a{
		background-image: url(../images/menu-tertiary-active-secondary.png);
		background-repeat: no-repeat;
		background-position: 8px center;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > a.active {
		background-color: #d9f0fc;
		border-left: 3px solid #4083a7;
		color: #009aee;
		font-weight: bold;
	}

	/* Deep Tertiary */

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > ul.menu {
		display: block;
		padding: 10px 0 10px 30px;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > ul.menu > li {

	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > ul.menu > li > a {
		border-bottom: none;
		color: #212a31;
		font-style: normal;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > ul.menu > li > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent > ul.menu > li > ul.menu > li > a:focus {
		color: #779624;
	}

/* FIFTH LEVEL STYLES */

.region-sidebar-first .menu-block-wrapper > ul.menu > li.expanded.active-trail.menu-deep-parent-5 > a {
	background-image: url(../images/menu-tertiary-active-primary.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	color: #009aee;
	font-style: italic;
}
	.region-sidebar-first .menu-block-wrapper ul.menu li.expanded.active-trail.menu-deep-parent-5 > a:hover, .region-sidebar-first .menu-block-wrapper ul.menu li.expanded.active-trail.menu-deep-parent-5 > a:focus {
		background-image: url(../images/menu-tertiary-active-primary-hover.png);
		color: #779624;
	}

	/* Deep Secondary */

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a {
		background-image: url(../images/menu-tertiary-active-primary.png) !important;
		background-repeat: no-repeat;
		background-position: 8px center;
		background-color: transparent;
		border-left: 3px solid #FFF;
		color: #009aee;
		font-style: italic;
	}

		.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a:focus {
			background-image: url(../images/menu-tertiary-active-primary-hover.png) !important;
			background-color: #eef3df;
			border-left: 3px solid #779624;
			color: #779624;
		}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu {
		margin: 0;
		padding: 0;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu li a {
		border-bottom: 1px solid #e5e5e5;
		padding-left: 30px;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu li.active-trail > a {

	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu li.expanded.active-trail > a {
		background-image: url(../images/menu-tertiary-active-secondary.png) !important;
		background-repeat: no-repeat;
		background-position: 8px center;
	}

		.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu li.expanded.active-trail > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu li.expanded.active-trail > a:focus {
			background-image: url(../images/menu-tertiary-active-secondary-hover.png) !important;
		}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > ul.menu > li a.active {
		background-color: #d9f0fc;
		border-left: 3px solid #4083a7;
		color: #009aee;
		font-weight: bold;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li > ul.menu {
		padding-left: 15px;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li > ul.menu > li > ul.menu > li > a {
		padding-left: 15px;
	}

	/* Deep Tertiary */

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li > ul.menu {
		display: block;
	}

	/* Deep Fourth Level */

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li > ul.menu > li > ul.menu {
		display: block;
		padding: 10px 0 10px 30px;
	}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-5 > ul.menu > li > ul.menu > li > ul.menu > li > a {
		border-bottom: none;
		color: #212a31;
		font-style: normal;
		margin-bottom: 1px;
	}

/* SIXTH LEVEL STYLES */

/* Top Heading */

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 > a {
	background-image: url(../images/menu-tertiary-active-primary.png) !important;
	background-repeat: no-repeat;
	background-position: 8px center;
	color: #009aee;
	font-style: italic;
}

	.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 > a:hover, .region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 > a:focus {
		background-image: url(../images/menu-tertiary-active-primary-hover.png) !important;
		color: #779624;
	}

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu {
	padding: 0;
}

/* Next Level Heading */

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent-5 > ul.menu {
	display: block;
	padding: 0;
}

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent-5 > a {
	color: #009aee;
	font-style: italic;
}

	.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent-5 > a:hover, .region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent-5 > a:focus {
		background-image: url(../images/menu-tertiary-active-primary-hover.png) !important;
		color: #779624;
	}

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li > a {
	border-bottom: 1px solid #e5e5e5;
	color: 000;
	padding-left: 30px;
}

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li > a.active {
	background-color: #d9f0fc;
	border-left: 3px solid #4083a7;
	color: #009aee;
	font-weight: bold;
}

/* Fifth Level Heading */ 

.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu > li.expanded.active-trail.menu-deep-parent-5 > a {
	background-image: url(../images/menu-tertiary-active-primary.png);
	background-repeat: no-repeat;
	background-position: 9px center;
	color: #009aee;
	font-style: italic;
}
	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu li.expanded.active-trail.menu-deep-parent-5 > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu li.expanded.active-trail.menu-deep-parent-5 > a:focus {
		background-image: url(../images/menu-tertiary-active-primary-hover.png);
		color: #779624;
	}

	/* Deep Secondary */

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a {
		background-image: url(../images/menu-tertiary-active-primary.png) !important;
		background-repeat: no-repeat;
		background-position: 8px center;
		background-color: transparent;
		border-left: 3px solid #FFF;
		color: #009aee;
		font-style: italic;
	}

		.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a:focus {
			background-image: url(../images/menu-tertiary-active-primary-hover.png) !important;
			background-color: #eef3df;
			border-left: 3px solid #779624;
			color: #779624;
		}


/* Deep Secondary */

.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a {
	background-image: url(../images/menu-tertiary-active-secondary.png) !important;
	background-repeat: no-repeat;
	background-position: 8px center;
	background-color: transparent;
	border-left: 3px solid #FFF;
}

	.region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a:hover, .region-sidebar-first .menu-block-wrapper > ul.menu > li.menu-deep-parent-6 > ul.menu > li.menu-deep-parent-5 > ul.menu > li.menu-deep-parent > a:focus {
		background-image: url(../images/menu-tertiary-active-secondary-hover.png) !important;
		background-color: #eef3df;
		border-left: 3px solid #779624;
		color: #779624;
	}

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent-5 > ul.menu {
	padding-left: 15px;
}

/* Deep Tertiary */

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent > ul.menu {
	padding-left: 30px;
}

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent > ul.menu > li > a {
	padding-left: 15px;
}

/* Anything Deeper */

.region-sidebar-first .menu-block-wrapper ul.menu li.menu-deep-parent-6 ul.menu li.menu-deep-parent > ul.menu li > ul.menu {
	display: none;
}
