/**
 * @file Panels styling
 */

.panel-pane.block-float {
  float: left;
  margin: 0 15px 0 0;
}
  .panel-pane.block-float .field-label {
    color: #848484;
  }
  .two-66-33 .region-two-66-33-first .panel-pane.block-float {
    padding: 0;
  }

.panel-pane .views-row .use-helvetica {
  color: #b1b3b6;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
}

.panel-pane.use-avenir {
  color: #b1b3b6;
  font-family: 'Avenir Heavy';
  font-size: 1.5em;
}
.panel-pane.use-avenir-med {
  color: #b1b3b6;
  font-family: 'Avenir Medium';
  font-size: 1.5em;
}
.panel-pane.use-avenir-reg {
  color: #b1b3b6;
  font-family: 'Avenir Regular';
  font-size: 1.5em;
}

/* Key Information */
.key-information .pane-content {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.857em;
  padding-bottom: 15px;
}

.key-information .views-row {
  padding: 0 0 1em;
}
  .key-information .views-row .views-field {
    margin: 1.25em 0 0;
    color: #000;
  }

/**
 * First region
 */
.two-66-33 .region-two-66-33-first .panel-pane {
  padding-top: 10px;
  padding-bottom: 10px;
}

/**
 * Second region
 */
.two-66-33 .region-two-66-33-second .panel-pane {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* =============================================================================
  RELATED RESOURCES
  ========================================================================== */


.pane-related-resources {
  margin: 40px 0 0;
}

/* Pagination */

.pane-related-resources .view-content {
  border-top: 1px solid #d9f0fc;
  clear: both;
}

.pane-related-resources .view-header {
  float: right;
}

.pane-related-resources a.related-page-btn {
  background-image: url(../images/related-page-btn.png);
  background-repeat: no-repeat;
  display: inline-block;
  color: #1abacc;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.929em;
}

  .pane-related-resources a:hover, .pane-related-resources a:focus {
    color: #a6c84b;
    text-decoration: none;
  }

  .pane-related-resources a.related-prev {
    background-position: 0px 4px;
    margin-right: 20px;
    padding-left: 12px;
  }

    .pane-related-resources a:hover.related-prev, .pane-related-resources a:focus.related-prev {
      background-position: 0px -11px;
    }

  .pane-related-resources a.related-next {
    background-position: right -26px;
    padding-right: 12px;
  }

    .pane-related-resources a:hover.related-next, .pane-related-resources a:focus.related-next {
      background-position: right -41px;
    }

/* Browse All */

.pane-related-resources .view-footer a.all {
  background-image: url(../images/related-page-btn.png);
  background-position: right -26px;
  background-repeat: no-repeat;
  display: inline-block;
  color: #1abacc;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.929em;
  font-weight: bold;
  margin: 20px 0 0 20px;
  padding-right: 12px;
}

  .pane-related-resources .view-footer a:hover.all, .pane-related-resources .view-footer a:focus.all {
    background-position: right -41px;
    color: #a6c84b;
    text-decoration: none;
  }

/* Generic Styles */


.pane-related-resources h2 {
  float: left;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.929em;
  font-weight: bold;
  margin: 0 0 4px 20px;
}

.pane-related-resources .views-row {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 10px;
}

  .pane-related-resources .views-row-first {
  }

.pane-related-resources .views-row h3 {
  font-size: 1.286em;
  margin-bottom: 0;
}

.pane-related-resources .views-row h3 a {
  color: #292e33;
  display: block;
  float: left;
  font-family: 'Avenir Heavy';
}

  .pane-related-resources .views-row h3 a:hover, .pane-related-resources .views-row h3 a:focus {
    color: #84ab20;
    text-decoration: none;
  }

.pane-related-resources .views-row .resource-content {
  float: left;
  margin-right: -100%;
  width: 100%;
}

.pane-related-resources .views-row .resource-content .resource-content-inner {
  margin-left: 90px;
  padding: 5px 0 0;
}


/* Icons */

.pane-related-resources .views-row .resource-icon {
    float: left;
    text-align: center;
    margin-right: -90px;
    padding-right: 15px;
    width: 75px;
}

.pane-related-resources .views-row .resource-icon span.icon {
    display: block;
    text-align: center;
}

.pane-related-resources .views-row .resource-icon span.title {
    color: #31c5f4 !important;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.857em;
    font-weight: bold;
}

/* Related Resources */

.pane-related-resources .related-group {
}

.pane-related-resources #related-group-2, .pane-related-resources #related-group-3 {
  display: none;
}

/* =============================================================================
  TRAINING AND EVENTS
  ========================================================================== */

.pane-related-events {
  padding: 0 15px !important;
}

.pane-related-events h2 {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.929em;
  font-weight: bold;
  margin: 0 0 5px;
}

.pane-related-events .view-content {
  border-top: 1px solid #d9f0fc;
}

.pane-training-events-related-content .pane-title {
  border-bottom: 1px solid #D9EFFC;
  font-size: 1em;
  margin-left: 20px;
  padding-bottom: 4px;
  width: 82%;
}

.pane-related-events .views-row {
  margin: 0 -15px;
}

.related-content-node {
  display: block;
  padding: 15px 15px;
}

.related-content-node.Featured {
  background-color: #fdf3f1;
}

.pane-related-events .views-row-first .related-content-node.Featured {
  margin-top: 15px;
}

.related-content-node .featured-title {
  color: #E26836;
  display: none;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.857em;
  font-weight: bold;
  letter-spacing: -0.05em;
  margin-bottom: 0.5em;
}

.related-content-node .featured-title :hover, .related-content-node .featured-title :active {
    text-decoration:none;
}

.views-row-1 .related-content-node .featured-title {
  display:block;
}

.related-content-node .related-content-title {
  color: #292e34;
  display: block;
  font-family: 'Avenir Medium';
  font-size: 1.286em;
  font-weight: 300;
  letter-spacing: -0.03em;
}

.related-content-node .date-display-single {
  color: #8F8F8F;
  display: block;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.857em;
  margin-top: 5px;
}

.view-training-events-related-content a.related-content-node:hover {
  text-decoration: none;
}

  .view-training-events-related-content a.related-content-node:hover * {
    color: #84AB20;
    /*text-decoration: underline;*/
  }

  .view-training-events-related-content a.related-content-node:hover > div.featured-title {
    color: #E26836;
    text-decoration: none;
  }

.related-content-node .related-content-location {
  color: #8F8F8F;
  display: block;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.786em;
}

a.more-related-content {
  background: url("../images/Right.png") no-repeat scroll 97% 5px transparent;
  display: block;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.857em;
  font-weight: bold;
  color: #01BAD1;
  margin-top: 15px;
  text-decoration: none;
  width: 80px;
}

  a.more-related-content:hover {
    background: url("../images/Right-Hover.png") no-repeat scroll 100% 5px transparent;
  }

/* Browse All */

.pane-related-events .view-footer a.all {
  background-image: url(../images/related-page-btn.png);
  background-position: right -26px;
  background-repeat: no-repeat;
  display: inline-block;
  color: #1abacc;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.929em;
  font-weight: bold;
  margin: 15px 0 0 0px;
  padding-right: 12px;
}

  .pane-related-events .view-footer a:hover.all, .pane-related-resources .view-footer a:focus.all {
    background-position: right -41px;
    color: #a6c84b;
    text-decoration: none;
  }

/* =============================================================================
  UPCOMING CLASSES
  ========================================================================== */

.pane-upcoming-classes {
  margin-top: 20px;
}
